#!/bin/bash
# /etc/init.d/pslparsoid
### BEGIN INIT INFO
# Provides:             pslparsoid
# Required-Start:       $remote_fs $syslog
# Required-Stop:        $remote_fs $syslog
# Should-Start:         $local_fs
# Should-Stop:          $local_fs
# Default-Start:        2 3 4 5
# Default-Stop:         0 1 6
# Short-Description:    Start Parsoid daemon
# Description:          Start up Parsoid, Debian run-level script by PSL GbR (draft)
### END INIT INFO

function stop(){
  echo "Stopping Parsoid..."
  killall -9 nodejs
}
function start(){
  echo "Starting Parsoid..."
  /usr/bin/nodejs --max-executable-size=128 --max-old-space-size=192 --max-semi-space-size=2 \
  {{ target_mediawiki_root }}/services/parsoid/bin/server.js --num-workers 2 \
  --config {{ target_mediawiki_root }}/services/parsoid/localsettings.js  >> /var/log/parsoid.log 2>&1 &
}

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    start
    ;;
  restart)
    stop
    start
    ;;
  'reload'|'force-reload')
    echo "Could fail..."
    start
    ;;
  stop)
    stop
    ;;
  *)
    echo "Usage: /etc/init.d/pslparsoid {start|stop|restart|reload|force-reload}"
    exit 1
    ;;
esac
exit 0