# nginx configuration for virtual host: {{ mediawiki_server }}
#
# - This is part of Lifamily Library (Wiki) project
#
# - Copyright (C) 2010-2021     George Li <yongxinl@outlook.com>
#

## http server at port 80.
server {

    listen                  80;
    listen                  [::]:80;

    # virtual host domains
    server_name             {{ mediawiki_server }};

    # accept requests only for this domain
    if ($host !~ ^({{ mediawiki_server }})$) {
        return 444;
    }

    # document root
    index                   index.php;

    # redirect to wiki main page
    location = / {
        return  301 http://$host/wiki/;
    }

    location /w/ {
        alias               {{ mediawiki_root }}/;
    }

    location ~ ^/w/(.+\.php5)$ {
        alias                       {{ mediawiki_root }}/$1;
        fastcgi_pass                127.0.0.1:9000;
        fastcgi_param               SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include                     /etc/nginx/fastcgi_params;
        fastcgi_intercept_errors    on;
    }

    location ~ ^/w/(.+\.php)$ {
        alias                       {{ mediawiki_root }}/$1;
        fastcgi_pass                127.0.0.1:9000;
        fastcgi_param               SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include                     /etc/nginx/fastcgi_params;
        fastcgi_intercept_errors    on;
    }

    # Common settings for a wiki powered by MediaWiki with the following configuration
    # 1. wiki is location in $root/w folder
    # 2. article path ($wgArticlePath) is "/wiki/$1"
    # 3. $wgUsePathInfo is true
    include {{ mediawiki_root }}/conf.d/wiki.ini;
}

# https server at port 443 --> httpd redirection
server {

    listen                  443 ssl http2;
    listen                  [::]:443 ssl http2;

    # virtual host domains
    server_name             {{ mediawiki_server }};

    # redirect to httpd if required
    return 301 http://$host$request_uri;

}
