/*
 * This is a Parsoid service configuration file.
 *
 * Also see:
 * - api/server.js for more information about passing config files via
 *   the commandline.
 * - lib/mediawiki.ParsoidConfig.js all the properties
 *   that you can configure here. Not all properties are
 *   documented here.
 */
'use strict';

exports.setup = function(parsoidConfig) {

	// Configure Parsoid to point to your MediaWiki instance.
	parsoidConfig.setMwApi({
		prefix: 'core_wiki', // optional
		domain: 'localhost', // optional
		uri: 'http://{{ mediawiki_server }}/w/api.php',
	});

	// Enable debug mode (prints extra debugging messages)
	parsoidConfig.debug = false;

	// Use the PHP preprocessor to expand templates via the MW API (default true)
	//parsoidConfig.usePHPPreProcessor = false;

	// Use selective serialization (default false)
	parsoidConfig.useSelser = true;

	// Allow override of port/interface:
	parsoidConfig.serverPort = 9001;
	parsoidConfig.serverInterface = '127.0.0.1';

	// Require SSL certificates to be valid (default true)
	// Set to false when using self-signed SSL certificates
	parsoidConfig.strictSSL = false;
};
