# This is the Parsoid Service configuration file
#
# Also see:
# - `npm start -- -h` for more information about passing config files via
#   the commandline.
# - lib/config/ParsoidConfig.js for all the properties that you can configure
#   here. Not all properties are documented here.

worker_heartbeat_timeout: 300000

logging:
    level: info

#metrics:
#    type: log

services:
  - module: lib/index.js
    entrypoint: apiServiceWorker
    conf:
        # Set your own user-agent string
        #userAgent: 'My-User-Agent-String'

        # Configure Parsoid to point to your MediaWiki instances.
        mwApis:
        - # the URL of you MediaWiki API endpoint.
          uri: 'http://{{mediawiki_server }}/w/api.php'

          # The "domain" is used for communication with Visual Editor
          # and RESTBase.
          domain: '{{ mediawiki_sitename | replace(" ","_") }}'

        # Enable debug mode (prints extra debugging messages)
        #debug: true

        # Allow override of port/interface:
        serverPort: 8142
        serverInterface: '127.0.0.1'

        # Require SSL certificates to be valid (default true)
        # Set to false when using self-signed SSL certificates
        #strictSSL: false

        # Provides an API module which parsoid uses to more efficiently
        # communicate with Mediawiki.
        parsoidConfig.useBatchAPI: true

        # COMPATIBILITY for Parsoid 0.9.0 with MediaWiki before 1.31
        # HTTP 406 error when editing article
        strictAcceptCheck: false
